* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
    color: #ea0909;
    background-color: rgb(14, 77, 4);
    height: 100vh;
    padding: 20px;
  }